interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.bad-actor.services/api/symbols/1
  response:
    body: {string: "{\n  \"id\": 1, \n  \"name\": \"111, Inc.\", \n  \"quotes_daily\"\
        : [\n    {\n      \"date\": \"2018-09-17T00:00:00\", \n      \"id\": 1, \n\
        \      \"price_close\": 13.72, \n      \"price_high\": 13.919, \n      \"\
        price_low\": 13.25, \n      \"price_open\": 13.61, \n      \"symbol_id\":\
        \ 1, \n      \"ts_created\": \"2018-09-17T23:06:00.165239\", \n      \"ts_updated\"\
        : \"2018-09-17T23:06:00.165239\", \n      \"volume\": 198023\n    }, \n  \
        \  {\n      \"date\": \"2018-09-14T00:00:00\", \n      \"id\": 2, \n     \
        \ \"price_close\": 13.99, \n      \"price_high\": 14.73, \n      \"price_low\"\
        : 13.051, \n      \"price_open\": 14.6, \n      \"symbol_id\": 1, \n     \
        \ \"ts_created\": \"2018-09-17T23:06:00.195295\", \n      \"ts_updated\":\
        \ \"2018-09-17T23:06:00.195295\", \n      \"volume\": 773447\n    }, \n  \
        \  {\n      \"date\": \"2018-09-13T00:00:00\", \n      \"id\": 3, \n     \
        \ \"price_close\": 14.0, \n      \"price_high\": 14.22, \n      \"price_low\"\
        : 13.0, \n      \"price_open\": 13.9, \n      \"symbol_id\": 1, \n      \"\
        ts_created\": \"2018-09-17T23:06:00.223150\", \n      \"ts_updated\": \"2018-09-17T23:06:00.223150\"\
        , \n      \"volume\": 685158\n    }, \n    {\n      \"date\": \"2018-09-12T00:00:00\"\
        , \n      \"id\": 4, \n      \"price_close\": 13.8, \n      \"price_high\"\
        : 16.83, \n      \"price_low\": 11.575, \n      \"price_open\": 16.75, \n\
        \      \"symbol_id\": 1, \n      \"ts_created\": \"2018-09-17T23:06:00.264074\"\
        , \n      \"ts_updated\": \"2018-09-17T23:06:00.264074\", \n      \"volume\"\
        : 1302171\n    }\n  ], \n  \"symbol\": \"YI\", \n  \"ts_updated\": \"2018-09-17T23:06:00\"\
        \n}\n"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
