interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.bad-actor.services/api/proxies
  response:
    body: {string: "{\n  \"num_results\": 453, \n  \"objects\": [\n    {\n      \"\
        address\": \"https://201.183.232.129:23500\", \n      \"continent\": \"South\
        \ America\", \n      \"country\": \"Ecuador\", \n      \"id\": 1, \n     \
        \ \"last_tested\": null, \n      \"port\": 23500, \n      \"quality\": null,\
        \ \n      \"ssl\": true\n    }, \n    {\n      \"address\": \"https://103.92.154.98:44863\"\
        , \n      \"continent\": \"Asia\", \n      \"country\": \"Bangladesh\", \n\
        \      \"id\": 2, \n      \"last_tested\": null, \n      \"port\": 44863,\
        \ \n      \"quality\": null, \n      \"ssl\": true\n    }, \n    {\n     \
        \ \"address\": \"https://5.153.139.226:31870\", \n      \"continent\": \"\
        Europe\", \n      \"country\": \"Ukraine\", \n      \"id\": 3, \n      \"\
        last_tested\": null, \n      \"port\": 318[...]
