interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.bad-actor.services/api/proxies
  response:
    body: {string: "{\n  \"num_results\": 300, \n  \"objects\": [\n    {\n      \"\
        address\": \"https://93.171.242.60:40971\", \n      \"continent\": \"Europe\"\
        , \n      \"country\": \"Ukraine\", \n      \"id\": 1, \n      \"ip\": \"\
        93.171.242.60\", \n      \"last_tested\": null, \n      \"port\": 40971, \n\
        \      \"quality\": null, \n      \"ssl\": true\n    }, \n    {\n      \"\
        address\": \"http://88.202.44.210:32086\", \n      \"continent\": \"Europe\"\
        , \n      \"country\": \"Italy\", \n      \"id\": 2, \n      \"ip\": \"88.202.44.210\"\
        , \n      \"last_tested\": null, \n      \"port\": 32086, \n      \"quality\"\
        : null, \n      \"ssl\": false\n    }, \n    {\n      \"address\": \"http://118.172.201.158:43729\"\
        , \n      \"continent\": \"Asia\", \n      \"country\": \"Thailand\", \n \
        \     \"id\": 3, \n      \"ip\": \"118.172.201.158\", \n      \"last_tested\"\
        : null, \n      \"port\": 43729, \n      \"quality\": null, \n      \"ssl\"\
        : false\n    }, \n    {\n      \"address\": \"http://47.90.125.157:8080\"\
        , \n      \"continent\": \"Asia\", \n      \"country\": \"Hong Kong\", \n\
        \      \"id\": 4, \n      \"ip\": \"[...]
