interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.bad-actor.services/api/symbols/1
  response:
    body: {string: "{\n  \"exchange\": \"nasdaq\", \n  \"high_52_weeks\": null, \n\
        \  \"high_52_weeks_date\": null, \n  \"id\": 1, \n  \"industry\": \"Medical/Nursing\
        \ Services\", \n  \"ipo_date\": null, \n  \"low_52_weeks\": null, \n  \"low_52_weeks_date\"\
        : null, \n  \"market_cap\": null, \n  \"name\": \"111, Inc.\", \n  \"price\"\
        : null, \n  \"quotes_daily\": [\n    {\n      \"data_source\": null, \n  \
        \    \"date\": \"2018-09-25T00:00:00\", \n      \"id\": 31, \n      \"price_close\"\
        : 14.08, \n      \"price_high\": 14.8, \n      \"price_low\": 13.66, \n  \
        \    \"price_open\": 14.8, \n      \"symbol_id\": 1, \n      \"ts_created\"\
        : \"2018-09-25T19:35:31.173535\", \n      \"ts_updated\": \"2018-09-25T19:35:31.173535\"\
        , \n      \"volume\": 80697, \n      \"worker_source\": null\n    }, \n  \
        \  {\n      \"data_source\": null, \n      \"date\": \"2018-09-24T00:00:00\"\
        , \n      \"id\": 12, \n      \"price_close\": 14.81, \n      \"price_high\"\
        : 15.12, \n      \"price_low\": 14.31, \n      \"price_open\": 15.12, \n \
        \     \"symbol_id\": 1, \n      \"ts_created\": \"2018-09-25T19:09:15.049220\"\
        , \n      \"ts_updated\": \"2018-09-25T19:09:15.049220\", \n      \"volume\"\
        : 76168, \n      \"worker_source\": null\n    }, \n    {\n      \"data_source\"\
        : null, \n      \"date\": \"2018-09-21T00:00:00\", \n      \"id\": 13, \n\
        \      \"price_close\": 15.44, \n      \"price_high\": 15.5, \n      \"price_low\"\
        : 13.5, \n      \"price_open\": 13.5, \n      \"symbol_id\": 1, \n      \"\
        ts_created\": \"2018-09-2[...]
