interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.bad-actor.services/api/symbols/1
  response:
    body: {string: "{\n  \"id\": 1, \n  \"name\": \"111, Inc.\", \n  \"quotes_daily\"\
        : [\n    {\n      \"date\": \"2018-09-20T00:00:00\", \n      \"id\": 347598,\
        \ \n      \"price_close\": 13.51, \n      \"price_high\": 13.82, \n      \"\
        price_low\": 13.12, \n      \"price_open\": 13.82, \n      \"symbol_id\":\
        \ 1, \n      \"ts_created\": \"2018-09-21T04:20:44.871035\", \n      \"ts_updated\"\
        : \"2018-09-21T04:20:44.871035\", \n      \"volume\": 55959\n    }, \n   \
        \ {\n      \"date\": \"2018-09-19T00:00:00\", \n      \"id\": 347601, \n \
        \     \"price_close\": 13.82, \n      \"price_high\": 13.82, \n      \"price_low\"\
        : 12.71, \n      \"price_open\": 13.26, \n      \"symbol_id\": 1, \n     \
        \ \"ts_created\": \"2018-09-21T04:20:44.994591\", \n      \"ts_updated\":\
        \ \"2018-09-21T04:20:44.994591\", \n      \"volume\": 96016\n    }, \n   \
        \ {\n      \"date\": \"2018-09-18T00:00:00\", \n      \"id\": 347604, \n \
        \     \"price_close\": 13.06, \n      \"price_high\": 13.85, \n      \"price_low\"\
        : 12.7, \n      \"price_open\": 13.85, \n      \"symbol_id\": 1, \n      \"\
        ts_created\": \"2018-09-21T04:20:45.116021\", \n      \"ts_updated\": \"2018-09-21T04:20:45.116021\"\
        , \n      \"volume\": 259155\n    }, \n    {\n      \"date\": \"2018-09-17T00:00:00\"\
        , \n      \"id\": 1, \n      \"price_close\": 13.72, \n      \"price_high\"\
        : 13.919, \n      \"price_low\": 13.25, \n      \"price_open\": 13.61, \n\
        \      \"symbol_id\": 1, \n      \"ts_created\": \"2018-09-17T23:06:00.165239\"\
        , \n      \"ts_updated\": \"2018-09-17T23:06:00.165239\", \n      \"volume\"\
        : 198023\n    }, \n    {\n      \"date\": \"2018-09-14T00:00:00\", \n    \
        \  \"id\": 2, \n      \"price_close\": 13.99, \n      \"price_high\": 14.73,\
        \ \n      \"price_low\": 13.051, \n      \"price_open\": 14.6, \n      \"\
        symbol_id\": 1, \n    [...]
