interactions:
- request:
    body: '{"symbol": "DEMO-DEL5", "exchange": "nasdaq", "name": "DEMO DELETE5", "sector":
      "Technology", "industry": "Technology Industry"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: http://www.bad-actor.services/api/symbols
  response:
    body: {string: "{\n  \"id\": 6584, \n  \"name\": \"DEMO DELETE5\", \n  \"quotes_daily\"\
        : [], \n  \"symbol\": \"DEMO-DEL5\", \n  \"ts_updated\": \"2018-09-21T18:03:00.921300\"\
        \n}\n"}
    headers:
      Content-Type: [application/json]
      Location: ['http://www.bad-actor.services/api/symbols/6584']
    status: {code: 201, message: CREATED}
version: 1
