interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.bad-actor.services/api/proxies/1
  response:
    body: {string: "{\n  \"address\": \"https://93.171.242.60:40971\", \n  \"continent\"\
        : \"Europe\", \n  \"country\": \"Ukraine\", \n  \"id\": 1, \n  \"ip\": \"\
        93.171.242.60\", \n  \"last_tested\": null, \n  \"port\": 40971, \n  \"quality\"\
        : null, \n  \"ssl\": true\n}\n"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
