interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.bad-actor.services/api/symbols/1
  response:
    body: {string: "{\n  \"id\": 1, \n  \"name\": \"111, Inc.\", \n  \"quotes_daily\"\
        : [\n    {\n      \"date\": \"2018-09-20T00:00:00\", \n      \"id\": 347598,\
        \ \n      \"price_close\": 13.51, \n      \"price_high\": 13.82, \n      \"\
        price_low\": 13.12, \n      \"price_open\": 13.82, \n      \"symbol_id\":\
        \ 1, \n      \"ts_created\": \"2018-09-21T04:20:44.871035\", \n      \"ts_updated\"\
        : \"2018-09-21T04:20:44.871035\", \n      \"volume\": 55959\n    }, \n   \
        \ {\n      \"date\": \"2018-09-19T00:00:00\", \n      \"id\": 347601, \n \
        \     \"price_close\": 13.82, \n      \"price_high\": 13.82, \n      \"price_low\"\
        : 12.71, \n      \"price_open\": 13.26, \n      \"symbol_id\": 1, \n     \
        \ \"ts_created\": \"2018-09-21T04:20:44.994591\", \n      \"ts_updated\":\
        \ \"2018-09-21T04:20:44.994591\", \n      \"volume\": 96016\n    }, \n   \
        \ {\n      \"date\": \"2018-09-18T00:00:00\", \n      \"id\": 347604, \n \
        \     \"price_close\": 13.06, \n      \"price_high\": 13.85, \n      \"price_low\"\
        : 12.7, \n      \"price_open\": 13.85, \n      \"symbol_id\": 1, \n      \"\
        ts_created\": \"2018-09-21T04:20:45.116021\", \n      \"ts_updated\": \"2018-09-21T04:20:45.116021\"\
        , \n      \"volume\": 259155\n    }, \n    {\n      \"date\": \"2018-09-17T00:00:00\"\
        , \n      \"id\": 1, \n      \"price_close\": 13.72, \n      \"price_high\"\
        : 13.919, \n      \"price_low\": 13.25, \n      \"price_open\": 13.61, \n\
        \      \"symbol_id\": 1, \n      \"ts_created\": \"2018-09-17T23:06:00.165239\"\
        , \n      \"ts_updated\": \"2018-09-17T23:06:00.165239\", \n      \"volume\"\
        : 198023\n    }, \n    {\n      \"date\": \"2018-09-14T00:00:00\", \n    \
        \  \"id\": 2, \n      \"price_close\": 13.99, \n      \"price_high\": 14.73,\
        \ \n      \"price_low\": 13.051, \n      \"price_open\": 14.6, \n      \"\
        symbol_id\": 1, \n    [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.bad-actor.services/api/symbols/2
  response:
    body: {string: "{\n  \"id\": 2, \n  \"name\": \"1347 Property Insurance Holdings,\
        \ Inc.\", \n  \"quotes_daily\": [\n    {\n      \"date\": \"2018-09-20T00:00:00\"\
        , \n      \"id\": 347780, \n      \"price_close\": 6.3, \n      \"price_high\"\
        : 6.3, \n      \"price_low\": 6.1, \n      \"price_open\": 6.1, \n      \"\
        symbol_id\": 2, \n      \"ts_created\": \"2018-09-21T04:20:56.746919\", \n\
        \      \"ts_updated\": \"2018-09-21T04:20:56.746919\", \n      \"volume\"\
        : 19919\n    }, \n    {\n      \"date\": \"2018-09-19T00:00:00\", \n     \
        \ \"id\": 347783, [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.bad-actor.services/api/something-wont-work/1
  response:
    body: {string: "<!-- Portfolio - Info\n\n-->\n<!doctype html>\n<!--[if lt IE 7]>\
        \      <html class=\"no-js lt-ie9 lt-ie8 lt-ie7\" lang=\"\"> <![endif]-->\n\
        <!--[if IE 7]>         <html class=\"no-js lt-ie9 lt-ie8\" lang=\"\"> <![endif]-->\n\
        <!--[if IE 8]>         <html class=\"no-js lt-ie9\" lang=\"\"> <![endif]-->\n\
        <!--[if gt IE 8]><!--> <html class=\"no-js\" lang=\"\"> <!--<![endif]-->\n\
        <head>\n  <meta charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\"\
        \ content=\"IE=edge\">\n  <title>Trade Track | Portfolios</title>\n  <meta\
        \ name=\"description\" content=\"Sufee Admin - HTML5 Admin Template\">\n \
        \ <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"\
        >\n\n  <link rel=\"apple-touch-icon\" href=\"apple-icon.png\">\n  <link rel=\"\
        shortcut icon\" href=\"favicon.ico\">\n\n  <link rel=\"stylesheet\" href=\"\
        /static/css/normalize.css\">\n  <link rel=\"stylesheet\" href=\"/static/css/bootstrap.min.css\"\
        >\n  <link rel=\"stylesheet\" href=\"/static/css/font-awesome.min.css\">\n\
        \  <link rel=\"stylesheet\" href=\"/static/css/themify-icons.css\">\n  <link\
        \ rel=\"stylesheet\" href=\"/static/css/flag-icon.min.css\">\n  <link rel=\"\
        stylesheet\" href=\"/static/css/cs-skin-elastic.css\">\n  <!-- <link rel=\"\
        stylesheet\" href=\"/static/css/bootstrap-select.less\"> -->\n  <link rel=\"\
        stylesheet\" href=\"/static/scss/style.css\">\n  <link href=\"/static/css/lib/vector-map/jqvmap.min.css\"\
        \ rel=\"stylesheet\">\n\n  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800'\
        \ rel='stylesheet' type='text/css'>\n  <!-- <script type=\"text/javascript\"\
        \ src=\"https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js\"></script>\
        \ -->\n</head>\n<body>\n\n\n  <!-- Left Panel -->\n    <!-- Left Panel -->\n\
        \  <aside id=\"left-panel\" class=\"left-panel\">\n    <nav class=\"navbar\
        \ navbar-expand-sm navbar-default\">\n\n      <div class=\"navbar-header\"\
        >\n        <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"\
        collapse\" data-target=\"#main-menu\" aria-controls=\"main-menu\" aria-expanded=\"\
        false\" aria-label=\"Toggle navigation\">\n            <i class=\"fa fa-bars\"\
        ></i>\n        </button>\n        <a class=\"navbar-brand\" href=\"./\"><img\
        \ src=\"images/logo.png\" alt=\"Logo\"></a>\n        <a class=\"navbar-brand\
        \ hidden\" href=\"./\"><img src=\"images/logo2.png\" alt=\"Logo\"></a>\n \
        \     </div>\n\n      <div id=\"main-menu\" class=\"main-menu collapse navbar-collapse\"\
        >\n        <ul class=\"nav navbar-nav\">\n          <li class=\"active\">\n\
        \              <a href=\"/dashboard\"> <i class=\"menu-icon fa fa-dashboard\"\
        ></i>Dashboard </a>\n          </li>\n          \n          <li class=\"menu-item-has-children\
        \ dropdown\">\n              <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"\
        dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\"> <i class=\"menu-icon\
        \ fa fa-building\"></i>Symbols</a>\n              <ul class=\"sub-menu children\
        \ dropdown-menu\">\n                  <li><i class=\"fa fa-globe\"></i><a\
        \ href=\"/symbol\">All</a></li>\n              </ul>\n          </li>\n  \
        \      </ul>\n      </div><!-- /.navbar-collapse -->\n    </nav>\n  </aside><!--\
        \ /#left-panel -->\n  <!-- End Left Panel -->\n\n  <!-- Right Panel -->\n\
        \  <div id=\"right-panel\" class=\"right-panel\">\n\n    <!-- Header-->\n\
        \    <header id=\"header\" class=\"header\">\n\n      <div class=\"header-menu\"\
        >\n\n        <div class=\"col-sm-7\">\n          <a id=\"menuToggle\" class=\"\
        menutoggle pull-left\"><i class=\"fa fa fa-tasks\"></i></a>\n          <div\
        \ class=\"header-left\">\n            <button class=\"search-trigger\"><i\
        \ class=\"fa fa-search\"></i></button>\n            <div class=\"form-inline\"\
        >\n              <form action=\"/search\" method=\"POST\" class=\"search-form\"\
        >\n                <input class=\"form-control mr-sm-2\" type=\"text\" placeholder=\"\
        Search ...\" aria-label=\"Search\">\n                <button class=\"search-close\"\
        \ type=\"submit\"><i class=\"fa fa-close\"></i></button>\n              </form>\n\
        \            </div>\n\n            \n\n            <div class=\"dropdown for-message\"\
        >\n              <button class=\"btn btn-secondary dropdown-toggle\" type=\"\
        button\"\n                    id=\"message\"\n                    data-toggle=\"\
        dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">\n             \
        \   <i class=\"ti-email\"></i>\n                <span class=\"count bg-primary\"\
        >9</span>\n              </button>\n              <div class=\"dropdown-menu\"\
        \ aria-labelledby=\"message\">\n                <p class=\"red\">You have\
        \ 4 Mails</p>\n                <a class=\"dropdown-item media bg-flat-color-1\"\
        \ href=\"#\">\n                    <span class=\"photo media-left\"><img alt=\"\
        avatar\" src=\"images/avatar/1.jpg\"></span>\n                    <span class=\"\
        message media-body\">\n  [...]
